<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eye Detection</title>
    <style>
        #video-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        #video-feed {
            width: 640px; /* Adjust the width and height as needed */
            height: 480px;
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <h1>Eye Detection</h1>
    <div id="video-container">
        <img id="video-feed" src="{{ url_for('video_feed') }}" alt="Webcam Feed">
    </div>
</body>
</html>
